<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音声ファイルのアップロードフォーム</title>
</head>
<body>
    <h1>音声ファイルをアップロード</h1>
    <form  method="post" enctype="multipart/form-data">
        <label for="audioUpload">音声ファイルを選択:</label><br>
        <input type="file" id="audioUpload" name="file" accept="audio/*"><br><br>
        <input type="submit" value="アップロード">
    </form>
    <p>
        {{ text }}
    </p>
</body>
</html>
